:root{
    --branco:#ffff;
    --gelo:#f1f1f1;
    --verde:#19c463;
    --preto:#2a2a2a;
}

.prod-detail{
    background: var(--gelo);
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.prod-detail img{
    max-width: 400px;
}

.butons-top{
    display: flex;
    width: 100%;
    position:absolute;
    top: 20px;
    justify-content: space-between;
    align-items: center;
}

.butons-top a{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--verde);
    border: 1px solid var(--gelo);
    font-size: 18px;
}

.butons-top a:first-child{
    margin-left: 20px;
    margin-right: auto;
}

.butons-top a:last-child{
    margin-left:5px;
    margin-right: 20px;
}

.prod-content{
    margin-top: -50px;
    background: white;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    position: relative;
    z-index: 99;
}

.line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.line b{
    font-size: 20px;
}
.promo-btn{
    width: 30%;
    background: #ef4d4d;
    border-radius: 8px;
    border: none;
    padding: 10px;
    color: var(--branco);
}

.btn-rates{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 10px;
    background: none;
    margin-right: 5px;
    width: 80px;
    font-size: 16px;
}

.ri-thumb-up-fill{
    color: var(--verde);
}
.color-gray{
    color: gray;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

th{
    background: #ddd;
}

.flex-40{
    flex: 40%;
}

.flex-60{
    flex: 60%;
}

.riscado{
    text-decoration: line-through;
}

.princing{
    font-weight: 800;
    font-size: 22px;
}

.add-cart{
    width: 90%;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: var(--verde);
    color: var(--branco);
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
}